<div class="pimg1">
  <div class="ptext">
    <h1>Thai Wok Express</h1>
  </div>
</div>

<section class="section section-light">
  <div class="container">
    <div class="row">
      <div class="col m4 s12">
        <div class="icon-block">
          <h2 class="center tw-yellow-text">
            <i class="material-icons">local_grocery_store</i>
          </h2>
          <h4 class="center">Online rendelési lehetőség</h4>
          <p class="light center">Valami kamu szöveg</p>
        </div>
      </div>
      <div class="col m4 s12">
        <div class="icon-block">
          <h2 class="center tw-yellow-text">
            <i class="material-icons">local_dining</i>
          </h2>
          <h4 class="center">Hétfőtől Szombatig 11-22-ig</h4>
          <p class="light center">sample szöveg</p>
        </div>
      </div>
      <div class="col m4 s12">
        <div class="icon-block">
          <h2 class="center tw-yellow-text">
            <i class="material-icons">motorcycle</i>
          </h2>
          <h4 class="center">Kiszállítás egész Szegeden</h4>
          <p class="light center">ez is valami kamu</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="pimg3">
  <div class="ptext">
      <span class="border trans">
        Szeged
      </span>
  </div>
</div>

<section class="section section-light">
  <h2>Cím</h2>
  <p>
    sample szöveg
  </p>
</section>

<div class="pimg2">
  <div class="ptext">
    <h1>Tisza Lajos krt. 53</h1>
  </div>
</div>

<section class="section section-light">
  <h2>Cím</h2>
  <p>
    sample szöveg
  </p>
</section>
