<div class="clearfix">
  <div class="parallax-container center valign-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 white-text">
          <h1 class="great-vibe-font main-title">Thai Wok Express</h1>
          <h3>Szeged legmenőbb thai étterme</h3>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="../../../assets/img/home-img/parallax05.jpg">
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col m4 s12">
        <div class="icon-block">
          <h2 class="center tw-yellow-text">
            <i class="material-icons">local_grocery_store</i>
          </h2>
          <h4 class="center">Online rendelési lehetőség</h4>
          <p class="light center">Valami kamu szöveg</p>
        </div>
      </div>
      <div class="col m4 s12">
        <div class="icon-block">
          <h2 class="center tw-yellow-text">
            <i class="material-icons">local_dining</i>
          </h2>
          <h4 class="center">Hétfőtől Szombatig 11-22-ig</h4>
          <p class="light center">mégtöbb bullshit</p>
        </div>
      </div>
      <div class="col m4 s12">
        <div class="icon-block">
          <h2 class="center tw-yellow-text">
            <i class="material-icons">motorcycle</i>
          </h2>
          <h4 class="center">Kiszállítás egész Szegeden</h4>
          <p class="light center">ez is valami kamu</p>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-container center valign-wrapper">
    <div class="parallax">
      <img src="../../../assets/img/home-img/parallax04.jpg">
    </div>

    <div class="container white-text">
      <div class="row">
        <div class="col s12">
          <h4>Ne habozz, rendelj már most</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="container center-align">
    <div class="section">
      <div class="row">
        <div class="col s12">
          <h4>Kapcsolat</h4>
          <p class="light center">hétfőtől szombatig 11-22 óra között #nemortó thai kaja</p>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-container center valign-wrapper">
    <div class="parallax">
      <img src="../../../assets/img/home-img/parallax03.jpg">
    </div>
    <div class="container white-text">
      <div class="row">
        <div class="col s12">
          <h4>Itt már nincs semmi értelmes tartalom</h4>
        </div>
      </div>
    </div>
  </div>
</div>
