.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  border: none;
  background-color: transparent;
}

.btn.dropdown-item {
  margin: 1rem;
}
.address-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ng-dropdown-panel {
  width: inherit !important;
  max-width: 100% !important;
}

@media only screen and (max-width: 600px) {
  .address-item {
    justify-content: space-between;
  }
}
