<div class="">
  <h4 class="text-center">{{'profile.deliveryAddresses' | translate}}</h4>
  <h5 *ngIf="user && !user.addresses?.length">{{'profile.noSetDeliveryAddress' | translate}}</h5>
  <div class="">

    <ul class="" *ngIf="user && user.addresses?.length > 0" >
      <li class="list-unstyled" *ngFor="let address of user.addresses; let index = index">
        <div class="">
          <span class="">{{address.street}} {{address.houseNumber}} - {{address.floor}}. emelet - {{address.door}}. ajtó - {{address.bell}}. csengő</span>
          <div class="btn-group" mdbDropdown>
            <i mdbDropdownToggle class="fa fa-cog clickable dropdown-toggle waves-light" mdbWavesEffect></i>
              <span class="dropdown-menu fadeInDropdown dropdown-primary text-center">
                  <a class="dropdown-item btn btn-amber" (click)="showEditAddressField(user.addresses[index], index)">EDIT  <i class="fa fa-edit clickable"></i></a>
                  <a class="dropdown-item btn btn-red" (click)="openDeleteAddressConfirmationModal(index)">DELETE  <i class="fa fa-trash clickable"></i></a>
              </span>
          </div>
        </div>
      </li>
    </ul>




  </div>
  <a *ngIf="isEditingAddress" class="col s12 clickable s-center" (click)="showEditAddressField(newAddress, index)"><i
    class="fa fa-plus"></i> {{'profile.addNewAddress' | translate}}</a>
</div>


<!--&lt;!&ndash;MODAL WRAPPER &ndash;&gt;-->
<!--<div id="modal-delete-address" class="modal center">-->
  <!--&lt;!&ndash;MODAL CONTENT &ndash;&gt;-->
  <!--<div class="modal-content">-->
    <!--<h3>{{'profile.deleteConfirmation' | translate}}</h3>-->
  <!--</div>-->
  <!--&lt;!&ndash;MODAL - FOOTER&ndash;&gt;-->
  <!--<div class="modal-footer">-->
    <!--<a class="modal-action modal-close waves-effect waves-green btn-flat red right"-->
       <!--(click)="deleteAddress()">{{'profile.delete' | translate}}</a>-->
    <!--<a class="modal-action modal-close waves-effect waves-green btn-flat s-left">{{'profile.cancel' | translate}}</a>-->
  <!--</div>-->
<!--</div>-->
