@import "../../../../../../sass/variables";

.dropdown-toggle {
  transition: color .1s ease-in;
  &:hover {
    color: $tw-yellow;
  }
  &:after {
    display: none;
  }
}

.dropdown-menu {
  border: none;
  background-color: transparent;
}

.btn.dropdown-item {
  margin: .3rem;
}
.address-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.2rem 0;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.ng-dropdown-panel {
  width: inherit !important;
  max-width: 100% !important;
}

@media only screen and (max-width: 600px) {
  .address-item {
    justify-content: space-between;
  }
}
