<div class="">
  <h4 class="text-center">{{'profile.deliveryAddresses' | translate}}</h4>
  <h5 *ngIf="user && !user.addresses?.length">{{'profile.noSetDeliveryAddress' | translate}}</h5>
  <div class="">
    <div class="" *ngIf="user && user.addresses?.length > 0">
      <div class="" *ngFor="let address of user.addresses; let index = index">
        <div class="address-item shadow-lg">
          <div class="address-group px-3">
            <p>utca: {{address.street}}</p>
            <p>házszám: {{address.houseNumber}}</p>
            <p>emelet: {{address.floor}}</p>
            <p>ajtó: {{address.door}}</p>
            <p>csengő: {{address.bell}}</p>
          </div>
          <div class="btn-group px-3" mdbDropdown>
            <i mdbDropdownToggle class="fa fa-cog clickable dropdown-toggle waves-light" mdbWavesEffect style="font-size: 2.0rem"></i>
            <span class="dropdown-menu dropdown-menu-right fadeInDropdown dropdown-primary text-center animated fadeIn">
                <button type="button" color="default" class="btn btn-lg dropdown-item waves-light"
                        mdbWavesEffect mdbBtn
                        (click)="showEditAddressField(user.addresses[index], index)">{{"profile.edit" | translate}}<i class="fa fa-edit clickable"></i>
                </button>
                <button type="button" color="danger" class="btn btn-lg dropdown-item waves-light" data-toggle="modal"
                        data-target="#frame"
                        (click)="openDeleteAddressConfirmationModal(index); frame.show()"
                        mdbBtn mdbWavesEffect>{{"profile.delete" | translate}}
                </button>
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center">
    <button *ngIf="isEditingAddress" class="btn btn-outline-light-blue px-3"
            mdbTooltip="{{'tooltips.addNewAddress' | translate}}" placement="bottom"
            (click)="showEditAddressField(newAddress, index)">
      <mdb-icon  icon="plus-square-o" size="1x"></mdb-icon> {{'profile.addNewAddress' | translate}}</button>
  </div>
</div>


<!--MODAL-->
<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">{{'profile.deleteConfirmation' | translate}}</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn"></i>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal"
           (click)="frame.hide()">{{'common.no' | translate}}</a>
        <a mdbBtn color="danger" outline="true" class="waves-effect" (click)="deleteAddress(); frame.hide()"
        mdbWavesEffect>{{'common.yes' | translate}}</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
