<div class="">
  <h4 class="s-center">{{'profile.deliveryAddresses' | translate}}</h4>
  <h5 *ngIf="user && !user.addresses?.length">{{'profile.noSetDeliveryAddress' | translate}}</h5>
  <div class="row">



    <ul class="collapsible" *ngIf="user && user.addresses?.length > 0" materialize="collapsible">
      <li class="address-line clearfix" *ngFor="let address of user.addresses; let index = index">
        <div class="collapsible-header">
          <span class="col s10">{{address.street}} {{address.houseNumber}} - {{address.floor}}. emelet - {{address.door}}. ajtó - {{address.bell}}. csengő</span>
          <span class="col s2"><i class="fa fa-cog clickable right"></i></span>
        </div>
        <div class="collapsible-body">
          <button class="btn" (click)="showEditAddressField(user.addresses[index], index)">EDIT  <i class="fa fa-edit clickable"></i></button>
          <button class="btn red" (click)="openDeleteAddressConfirmationModal(index)">DELETE  <i class="fa fa-trash clickable"></i></button>
        </div>
      </li>
    </ul>




  </div>
  <a *ngIf="isEditingAddress" class="col s12 clickable s-center" (click)="showEditAddressField(newAddress, index)"><i
    class="fa fa-plus"></i> {{'profile.addNewAddress' | translate}}</a>
</div>


<!--MODAL WRAPPER -->
<div id="modal-delete-address" class="modal center"
     [materializeParams]="[{dismissible: false}]"
     materialize="modal">
  <!--MODAL CONTENT -->
  <div class="modal-content">
    <h3>{{'profile.deleteConfirmation' | translate}}</h3>
  </div>
  <!--MODAL - FOOTER-->
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat red right"
       (click)="deleteAddress()">{{'profile.delete' | translate}}</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat s-left">{{'profile.cancel' | translate}}</a>
  </div>
</div>
