@import "../../sass/variables";
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $tw-grey ;
  z-index: 2;

  a {
    color: $tw-yellow;
    font-size: 24px;
    line-height: 42px;
  }
}
.footer-brand {
  display: flex;
  justify-content: center;
}
