// Font imports
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,700&subset=latin-ext');


// container width
$xs: 376px;
$s-width: 576px;
$m: 768px;
$l: 992px;
$xl: 1200px;


// General variables
$tw-tab-background-color: #2F4F4F;
$tw-yellow: #E2C044;
$tw-dark-grey: #1E2019;
$tw-grey: #393E41;
$tw-light-grey: #D3D0CB;
$tw-green-grey: #587B7F;
$tw-teal: #26a69a;
$tw-dark-blue: #003368;


// Font Variables
$great-vibes-font: 'Great Vibes', cursive;
$raleway-font: 'Raleway', sans-serif;

