//@import './_variables';
//@import './_mixins';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "variables";
@import "mixins";
@import "bootstrapOverwrite";


//
//COMMON CSS RULES - OVERWRITE MATERIALIZE CSS
//

body {
  padding-top: 66px; // because of .fixed-top navbar
  color: $tw-grey;
  font-family: $raleway-font;
}

.no-margin {
  margin: 0 !important;
}
.inline-block {
  display: inline-block;
}
.clickable {
  cursor: pointer;
}

//
//  COMMON COLORS
//
.tw-yellow-text {
  color: $tw-yellow;
}

a {
  transition: color 0.4s ease-out;
  &:hover {
    opacity: 0.8;
    color: $tw-dark-blue;
    text-decoration: none;
  }
}

//
//  COMMON FONTS
//
.great-vibe-font {
  font-family: $great-vibes-font;
}

.main-title {
  font-size: 7rem;
}


//ARROWS

.profile-nav-arrow {

  &__left,
  &__right{
    cursor: pointer;
    padding: 0 8px;

    &:hover {
      color: $tw-teal;
    }
  }
}

//
//CHECKBOX, RADIO
//
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: $tw-yellow;
}

[type="radio"]:checked+label:before,
[type="radio"]:checked+label:after
//[type="radio"].with-gap:checked+label:before,
//[type="radio"].with-gap:checked+label:after
{
  border: 2px solid $tw-yellow !important;
}

[type=radio].with-gap:checked+label:after, [type=radio]:checked+label:after {
  background-color: $tw-yellow !important;
}

//
// BUTTONS
//


//
//  COMMON MODAL
//

//.modal-footer{
//
//  &-btn__back{
//    &:hover{
//      color: red;
//    }
//  }
//  &-btn__go{
//    &:hover{
//      color: $tw-teal;
//    }
//  }
//}

//
// COMMON FOR MENU-PAGES
//
//.menu-category {
//
//  &-title {
//    width: 100%;
//    display: flex;
//    align-items: baseline;
//    justify-content: center;
//  }
//}


//
//COMMON MEDIA QUERIES
//

@media only screen and (max-width: 1024px) {
  .s-left {
    float: left;
  }
  .s-right {
    float: right;
  }
}



@media only screen and (max-width: 600px) {

  .s-block {
    display: block !important;
  }

  .s-center {
    text-align: center;
  }

  //ARROWS
  .profile-nav-arrow__left,
  .profile-nav-arrow__right{
    position: absolute;
    top: 75px;
  }

  .profile-nav-arrow__left {
    left: 4px;
  }

  .profile-nav-arrow__right {
    right: 4px;
  }

  h3.inline-block {
    //padding: inherit;
  }

}
