//@import './_variables';
//@import './_mixins';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "variables";
@import "mixins";
@import "bootstrapOverwrite";
@import "~@ng-select/ng-select/themes/material.theme.css";

//
//COMMON CSS RULES - OVERWRITE MATERIALIZE CSS
//

body {
  padding-top: 66px; // because of .fixed-top navbar
  color: $tw-grey;
  font-family: $raleway-font;
}

.no-margin {
  margin: 0 !important;
}
.inline-block {
  display: inline-block;
}
.clickable {
  cursor: pointer;
}

//
//  COMMON COLORS
//
.tw-yellow-text {
  color: $tw-yellow;
}

a {
  transition: color 0.4s ease-out;
  &:hover {
    opacity: 0.8;
    color: $tw-dark-blue;
    text-decoration: none;
  }
}

//
//  COMMON FONTS
//
.great-vibe-font {
  font-family: $great-vibes-font;
}
.main-title {
  font-size: 7rem;
}
.title {
  margin: 2rem 0 3rem 0;
}


//
// INPUTS, CHECKBOX, RADIO
//

.own-input {
  margin-left: 2.5rem;
  width: calc(100% - 2.5rem) !important;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label {
  color: $tw-yellow;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid $tw-yellow;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: $tw-yellow;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

//
// BUTTONS
//
.button-section {
  &-flex {
    display: flex;
    justify-content: space-between;
  }

}

//
// COMMON FOR MENU-PAGES
//
.menu-category {
  &-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.fa.fa-arrow-right,
.fa.fa-arrow-left {
  color: $tw-grey;
  transition: color 0.3s ease-out;
  &:hover {
    color: $tw-yellow;
    cursor: pointer;
  }
}


//
//COMMON MEDIA QUERIES
//

@media only screen and (max-width: 1024px) {
  .s-left {
    float: left;
  }
  .s-right {
    float: right;
  }
}

@media only screen and (max-width: 600px) {
  .s-block {
    display: block !important;
  }
  .s-center {
    text-align: center;
  }

  .button-section {
    &-flex {
      flex-direction: column;
    }
  }
}
