@import "../../../sass/variables";

nav {
  background-color: $tw-grey !important;
}

.navbar li {

  margin: 0 12px;

  a {
    color: $tw-light-grey;
    &:hover {
      opacity: 0.6;
    }
  }
}

.dropdown-item {

  &:hover {
    background-color: inherit;
    color: $tw-yellow !important;

    opacity: 0.8;
  }
}
.dropdown-menu-right {
  left: unset;
}

.profile-dropdown-menu {
  right: 0;
}

@media screen and (min-width: $l){
  .language-dropdown {
    margin-left: -6rem;
  }
}
