<nav class="fixed-top navbar navbar-expand-lg shadow">
  <!--NAVBAR BRAND-->
  <a class="great-vibe-font navbar-brand" routerLink="/home">Thai Wok Express</a>

  <!--NAVBAR TOGGLER-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--MENU-->
  <div class="collapse navbar-collapse" id="navbarToggler" style="justify-content: flex-end;">
    <ul class="navbar-nav">
      <!--HOME-->
      <li class="nav-item">
        <a routerLink="/home" class="nav-link autoCollapse" routerLinkActive="navbar-active"  >{{'navbar.home' | translate}}</a>
      </li>

      <!--MENU-->
      <li class="nav-item dropdown" mdbDropdown>
        <a mdbDropdownToggle class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          {{'navbar.menu' | translate}}
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item autoCollapse" routerLink="/menu/appetizers">{{'menu-tab.appetizers' |
            translate}}</a>
          <a class="dropdown-item autoCollapse" routerLink="/menu/soups">{{'menu-tab.soups' |
            translate}}</a>
          <a class="dropdown-item autoCollapse" routerLink="/menu/fried-rice-and-noodles">{{'menu-tab.friedRiceAndNoodles' |
            translate}}</a>
          <a class="dropdown-item autoCollapse" routerLink="/menu/main-dishes-with-rice">{{'menu-tab.mainDishesWithRice' |
            translate}}</a>
          <a class="dropdown-item autoCollapse" routerLink="/menu/desserts">{{'menu-tab.desserts' |
            translate}}</a>
        </div>
      </li>

      <!--DELIVERY AND PAYMENT-->
      <li class="nav-item">
        <a routerLink="/delivery-and-payment" class="nav-link autoCollapse" routerLinkActive="navbar-active">{{'navbar.deliveryAndPayment' |
          translate}}</a>
      </li>
      <!--ABOUT US-->
      <li class="nav-item">
        <a routerLink="/aboutus" class="nav-link autoCollapse" routerLinkActive="navbar-active">{{'navbar.aboutUs' |
          translate}}</a>
      </li>
      <!--CONTACT-->
      <li class="nav-item">
        <a routerLink="/contact" class="nav-link autoCollapse" routerLinkActive="navbar-active">{{'navbar.contact' |
          translate}}</a>
      </li>
      <!--CART-->
      <li class="nav-item">
        <a routerLink="/cart" class="nav-link autoCollapse" routerLinkActive="navbar-active">{{'navbar.cart' |
          translate}}</a>
      </li>

      <!--PROFILE-->
      <li *ngIf="user" class="nav-item dropdown" mdbDropdown>
        <a mdbDropdownToggle class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          {{'navbar.profile' | translate}}
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item autoCollapse" routerLink="/profile/personal-info">{{'navbar.personalInfo' |
            translate}}</a>
          <a class="dropdown-item autoCollapse" routerLink="/profile/delivery-info">{{'navbar.deliveryInfo' |
            translate}}</a>
          <a class="dropdown-item autoCollapse" routerLink="/profile/previous-orders">{{'navbar.history' |
            translate}}</a>
          <a class="dropdown-item autoCollapse" (click)="logout()">{{'navbar.logout' |
            translate}}</a>
        </div>
      </li>

      <!--LOGIN-->
      <li *ngIf="!user" class="nav-item">
        <a routerLink="/login" class="nav-link autoCollapse" routerLinkActive="navbar-active">{{'navbar.login' |
          translate}}</a>
      </li>

      <!--LANGUAGE SWITCHER-->
      <!--ANGOL-->
      <li class="nav-item dropdown" mdbDropdown *ngIf="language.actualLanguage==='en'">
        <a mdbDropdownToggle class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <span class="flag-icon flag-icon-gb"></span>
        </a>
        <div class="dropdown-menu language-dropdown" >
          <a class="dropdown-item autoCollapse" (click)="language.switchLanguage('hu')">
            <span class="flag-icon flag-icon-hu"></span> Hungarian</a>
        </div>
      </li>
      <!--MAGYAR-->
      <li class="nav-item dropdown" mdbDropdown *ngIf="language.actualLanguage==='hu'">
        <a mdbDropdownToggle class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <span class="flag-icon flag-icon-hu"></span>
        </a>
        <div class="dropdown-menu language-dropdown">
          <a class="dropdown-item autoCollapse" (click)="language.switchLanguage('en')">
            <span class="flag-icon flag-icon-gb"></span> English</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
