<nav class="fixed-top navbar navbar-expand-lg shadow">
  <!--NAVBAR BRAND-->
  <a class="great-vibe-font navbar-brand" routerLink="/home">Thai Wok Express</a>

  <!--NAVBAR TOGGLER-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--MENU-->
  <div class="collapse navbar-collapse" id="navbarToggler" style="justify-content: flex-end;">
    <ul class="navbar-nav">
      <!--HOME-->
      <li class="nav-item">
        <a routerLink="/home" class="nav-link autoCollapse" routerLinkActive="navbar-active"  >{{'navbar.home' | translate}}</a>
      </li>
      <!--MENU-->
      <li class="nav-item dropdown clickable" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{'navbar.menu' | translate}}
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a routerLink="/menu/appetizers" class="dropdown-item autoCollapse" routerLinkActive="navbar-active" data-toggle="collapse">{{'menu-tab.appetizers' |
            translate}}</a>
          <a routerLink="/menu/soups" class="dropdown-item autoCollapse" routerLinkActive="navbar-active">{{'menu-tab.soups' |
            translate}}</a>
          <a routerLink="/menu/fried-rice-and-noodles" class="dropdown-item autoCollapse" routerLinkActive="navbar-active">{{'menu-tab.friedRiceAndNoodles' |
            translate}}</a>
          <a routerLink="/menu/main-dishes-with-rice" class="dropdown-item autoCollapse" routerLinkActive="navbar-active">{{'menu-tab.mainDishesWithRice' |
            translate}}</a>
          <a routerLink="/menu/desserts" class="dropdown-item autoCollapse" routerLinkActive="navbar-active">{{'menu-tab.desserts' |
            translate}}</a>
        </div>
      </li>

      <!--DELIVERY AND PAYMENT-->
      <li class="nav-item">
        <a routerLink="/delivery-and-payment" class="nav-link autoCollapse" routerLinkActive="navbar-active">{{'navbar.deliveryAndPayment' |
          translate}}</a>
      </li>
      <!--ABOUT US-->
      <li class="nav-item">
        <a routerLink="/aboutus" class="nav-link autoCollapse" routerLinkActive="navbar-active">{{'navbar.aboutUs' |
          translate}}</a>
      </li>
      <!--CONTACT-->
      <li class="nav-item">
        <a routerLink="/contact" class="nav-link autoCollapse" routerLinkActive="navbar-active">{{'navbar.contact' |
          translate}}</a>
      </li>
      <!--CART-->
      <li class="nav-item">
        <a routerLink="/cart" class="nav-link autoCollapse" routerLinkActive="navbar-active">{{'navbar.cart' |
          translate}}</a>
      </li>

      <!--PROFILE-->
      <li ngbDropdown *ngIf="user" class="nav-item dropdown" autoClose>
        <a class="nav-link dropdown-toggle clickable" id="navbarDropdownProfile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{'navbar.profile' | translate}}
        </a>
        <div ngbDropdownMenu class="dropdown-menu profile-dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
          <a routerLink="/profile/personal-info" class="dropdown-item autoCollapse" routerLinkActive="navbar-active">{{'navbar.personalInfo' |
            translate}}</a>
          <a routerLink="/profile/delivery-info" class="dropdown-item autoCollapse" routerLinkActive="navbar-active">{{'navbar.deliveryInfo' |
            translate}}</a>
          <a routerLink="/profile/previous-orders" class="dropdown-item autoCollapse" routerLinkActive="navbar-active">{{'navbar.history' |
            translate}}</a>
          <a (click)="logout()" class="dropdown-item autoCollapse" routerLinkActive="navbar-active">{{'navbar.logout' |
            translate}}</a>
        </div>
      </li>

      <!--LOGIN-->
      <li *ngIf="!user" class="nav-item">
        <a routerLink="/login" class="nav-link autoCollapse" routerLinkActive="navbar-active">{{'navbar.login' |
          translate}}</a>
      </li>

      <!--LANGUAGE SWITCHER-->
      <!--ANGOL-->
      <li ngbDropdown class="nav-item" *ngIf="language.actualLanguage==='en'">
        <a class="nav-link dropdown-toggle clickable" id="engDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="flag-icon flag-icon-gb"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="engDropdown">
          <a class="dropdown-item clickable autoCollapse" (click)="language.switchLanguage('hu')">
            <span class="flag-icon flag-icon-hu"></span> Hungarian</a>
        </div>
      </li>
      <!--MAGYAR-->
      <li ngbDropdown class="nav-item" *ngIf="language.actualLanguage==='hu'" >
        <a class="nav-link dropdown-toggle clickable" id="huDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="flag-icon flag-icon-hu"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="huDropdown">
          <a class="dropdown-item clickable autoCollapse" (click)="language.switchLanguage('en')">
            <span class="flag-icon flag-icon-gb"></span> English</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
