<div class="profile-history-container">
  <!--PERSONAL INFO NAVIGATOR-->
  <div class="menu-category-title title">
    <mdb-icon routerLink="/profile/delivery-info" icon="arrow-left" size="2x"></mdb-icon>
    <h2 class="s-center" translate="">{{'profile.history' | translate}}</h2>
    <mdb-icon routerLink="/profile/personal-info" icon="arrow-right" size="2x"></mdb-icon>
  </div>
  <!--ORDER HISTORY LIST-->
  <!-- has history-->
  <div *ngIf="hasHistory" class="history-list">
    <ul class="" *ngIf="user && user.history?.length > 0">
      <li class="list-unstyled" *ngFor="let historyItem of user.history">
        <h5>{{historyItem.orderDate}}</h5>
        <ul>
          <!--translate-->
          <li>{{'profile.date' | translate}}: {{historyItem.orderDate}}</li>
          <li>{{'profile.name' | translate}}: {{historyItem.firstName}} {{historyItem.lastName}}</li>
          <li>{{'profile.address' | translate}}: {{historyItem.shippingAddress.street}} {{historyItem.shippingAddress.houseNumber}}</li>
          <li>{{'profile.phone' | translate}}: {{historyItem.phoneNumber}}</li>
          <li>{{'profile.price' | translate}}: {{historyItem.fullPrice}} Ft</li>
        </ul>
      </li>
    </ul>
  </div>

  <!--no history-->
  <div *ngIf="!hasHistory">
    <h3>Még nem rendelt semmit :/</h3>
  </div>

</div>





