<div class="profile-history-container">
  <!--PERSONAL INFO NAVIGATOR-->
  <div class="flex-space-between title">
    <mdb-icon routerLink="/profile/delivery-info" icon="arrow-left" size="2x"></mdb-icon>
    <h2 class="s-center" translate="">{{'profile.history' | translate}}</h2>
    <mdb-icon routerLink="/profile/personal-info" icon="arrow-right" size="2x"></mdb-icon>
  </div>
  <!--ORDER HISTORY LIST-->
  <!-- has history-->
  <div *ngIf="hasHistory && user && user.history?.length > 0" class="history-list">
  <mdb-card class="my-3" *ngFor="let historyItem of user.history">
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title> <h4>{{historyItem.orderDate}}</h4> </mdb-card-title>

      <!--Text-->
      <mdb-card-text>{{'profile.date' | translate}}: {{historyItem.orderDate}}</mdb-card-text>
      <mdb-card-text>{{'profile.name' | translate}}: {{historyItem.firstName}} {{historyItem.lastName}}</mdb-card-text>
      <mdb-card-text>{{'profile.address' | translate}}: {{historyItem.shippingAddress.street}} {{historyItem.shippingAddress.houseNumber}}</mdb-card-text>
      <mdb-card-text>{{'profile.phone' | translate}}: {{historyItem.phoneNumber}}</mdb-card-text>
      <mdb-card-text>{{'profile.price' | translate}}: {{historyItem.fullPrice}} Ft</mdb-card-text>
    </mdb-card-body>
  </mdb-card>
  </div>
  <!--no history-->
  <div *ngIf="!hasHistory">
    <h3>{{'profile.noHistory' | translate}}</h3>
  </div>

</div>





