<div class="menu-category-title title">
  <mdb-icon routerLink="/profile/personal-info" icon="arrow-left" size="2x"></mdb-icon>
  <h2 class="s-center" translate="">{{'profile.deliveryInfo' | translate}}</h2>
  <mdb-icon routerLink="/profile/previous-orders" icon="arrow-right" size="2x"></mdb-icon>
</div>
<app-delivery-listing (isEditingAddress)="receiveEvent($event)"
                      (emitAddressNumber)="receiveAddressNumber($event)"
                      (emitAddressEvent)="receiveAddress($event)">
</app-delivery-listing>


<app-delivery-edit *ngIf="isEditingAddress"
                   (isEditingAddress)="receiveEvent($event)"
                   [index]="index"
                   [addressToShare]="addressToShare">
</app-delivery-edit>
