<div class="row" *ngIf="!(auth.user | async); else alreadyLoggedIn">
  <div class="col-sm-12 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h2 class="card-title text-center">{{'login.socialLoginTitle' | translate }}</h2>
        <!--GOOGLE LOGIN-->
        <a class="btn btn-lg btn-block btn-social btn-google text-white" (click)="signInWithGoogle()">
          <span class="fa fa-google"></span> Sign in with Google
        </a>
        <!--FACEBOOK LOGIN-->
        <a class="btn btn-lg btn-block btn-social btn-facebook text-white disabled" (click)="signInWithFacebook()">
          <span class="fa fa-facebook"></span> Sign in with Facebook
        </a>

        <form class="form-signin" [formGroup]="userForm" (ngSubmit)="login()">

          <!--EMAIL-->
          <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <input mdbInputDirective type="email" id="email" class="form-control"
                   required autofocus
                   formControlName="email"
                   autocomplete="new-email">
            <label for="email">{{'login.email' | translate}}</label>
          </div>

          <!--PASSWORD-->
          <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input mdbInputDirective type="email" id="inputPassword" class="form-control"
                   required
                   formControlName="password"
                   autocomplete="new-password">
            <label for="inputPassword">{{'login.password' | translate}}</label>
          </div>

          <!--FORGOTTEN PASSWORD & REGISTRATION LINK-->
          <div class="row other-links">
            <p class="center"><a routerLink="/signup">{{'login.registerNow' | translate}}</a></p>
            <p class="center"><a class="clickable" (click)="resetPassword()">{{'login.forgotPassword' | translate}}</a>
            </p>
          </div>

          <!--<div class="custom-control custom-checkbox mb-3">-->
          <!--<input type="checkbox" class="custom-control-input" id="customCheck1">-->
          <!--<label class="custom-control-label" for="customCheck1">Remember password</label>-->
          <!--</div>-->

          <!--LOGIN BUTTON-->
          <button class="btn btn-lg btn-block text-uppercase" mdbBtn type="submit" color="success" outline="true" mdbWavesEffect>{{'login.login' | translate}}</button>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #alreadyLoggedIn>
  <div class="col-sm-12 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h2 class="card-title text-center">{{'login.alreadyLoggedIn' | translate}}</h2>
      </div>
    </div>
  </div>
  <button class="btn btn-block btn-lg col-sm-4 mx-auto waves-light" mdbBtn type="button" color="default" routerLink="/profile/personal-info" mdbWavesEffect>{{'login.goToProfile' | translate}}</button>
</ng-template>
