<div class="open-hours">
  <h3>{{'contactus.openHoursTitle' | translate}}</h3>

  <div>
    <ul>
      <li class="" *ngFor="let day of openHours">
        <span>{{languageService.actualLanguage === 'en' ? day.day.en : day.day.hu}} - </span>
        <span *ngIf="day.day.en!=='Sunday'">
          <span>{{day.from}}-</span>
          <span>{{day.to ? day.to : day.closed}}</span>
        </span>
        <span *ngIf="day.day.en==='Sunday'">
          <span>{{languageService.actualLanguage === 'en' ? day.closed.en : day.closed.hu}}</span>
        </span>
      </li>
    </ul>

  </div>
</div>
