<!--YOUR CART IS EMPTY-->
<div *ngIf="cartItems.length==0" class="text-center">
  <h2 class="title">{{'cart.yourCartIsEmpty' | translate}}</h2>
  <button class="btn btn-lg btn-linkedin" routerLink="/menu/appetizers">{{'cart.checkTheMeals' | translate}}</button>
</div>

<!--YOUR CART IS NOT EMPTY-->
<div *ngIf="cartItems.length!=0" class="cart-items">
  <h2 class="title text-center">{{'cart.shoppingCart' | translate}}</h2>
  <ul>
    <li class="list-unstyled" *ngFor="let cartItem of cartItems; let index = index">
      <p>{{cartItem.details.name}} - {{languageService.actualLanguage === 'en' ? cartItem.details.meatType.en : cartItem.details.meatType.hu}} -
      {{cartItem.details.price | currency:'HUF':'symbol-narrow':0}}
        <i class="fa fa-trash-o red-text clickable right" (click)="removeCartItem(index)"></i></p>
    </li>
  </ul>
  <hr>
  <p>{{'cart.orderedMeals' | translate}}: {{cartItemSummary() | currency:'HUF':'symbol-narrow':0}}</p>
  <p>{{'cart.shippingFee' | translate}}: {{shippingFee | currency:'HUF':'symbol-narrow':0}}</p>
  <hr>
  <p>{{'cart.summary' | translate}}: {{cartItemSummary()+shippingFee | currency:'HUF':'symbol-narrow':0}}</p>

  <div class="s-center btn-container s-block">
    <button class="btn red" (click)="removeCartItems()">{{'cart.clearCart' | translate}}</button>
    <button class="btn green" routerLink="/order-summary">{{'cart.goToConfirmation' | translate}}</button>
  </div>
</div>
