<div class="box" translate="">
  <div *ngIf="auth.user | async; then authenticated else guest">
    <!-- template will replace this div -->
  </div>
</div>

<!-- User NOT logged in -->
<ng-template #guest class="box">
  <h3>{{'profile.welcome' | translate}}, {{'guest' | translate}}</h3>
  <p class="card-text">Login to get started...</p>
  <button class="button" routerLink="/login">Login</button>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <div class="container" *ngIf="user">
    <router-outlet></router-outlet>
  </div>
</ng-template>

