<div class="delivery-edit-container">

  <!--COUNTRY-->
  <div class="md-form">
    <i class="fa fa-envelope prefix"></i>
    <input mdbInputDirective [(ngModel)]="addressToShare.country" type="text" id="edit_country"
           name="edit_country"
           class="form-control"
           aria-required="true"
           required>
    <label for="edit_country">{{'profile.country' | translate}}</label>
  </div>

  <!--COUNTY-->
  <div class="md-form">
    <i class="fa fa-envelope prefix"></i>
    <input mdbInputDirective [(ngModel)]="addressToShare.county" type="text" id="edit_county"
           name="edit_county"
           class="form-control"
           aria-required="true"
           required>
    <label for="edit_county">{{'profile.county' | translate}}</label>
  </div>

  <!--ZIP CODE-->
  <div class="md-form">
    <i class="fa fa-envelope prefix"></i>
    <input mdbInputDirective [(ngModel)]="addressToShare.zipCode" type="number" id="edit_zip-code"
           name="edit_zip-code"
           class="form-control"
           aria-required="true"
           maxlength="4"
           minlength="4"
           required>
    <label for="edit_zip-code">{{'profile.zipCode' | translate}}</label>
  </div>

  <!--CITY-->
  <div class="md-form">
    <i class="fa fa-envelope prefix"></i>
    <ng-select class="own-input" [searchable]="false" id="edit_city" placeholder="{{'profile.city' | translate}}" [selectOnTab]="true">
      <ng-option *ngFor="let city of cities" [value]="city.name">{{city.name}}</ng-option>
    </ng-select>
  </div>

  <!--STREET-->
  <div class="md-form">
    <i class="fa fa-envelope prefix"></i>
    <ng-select class="own-input" id="edit_street" [(ngModel)]="addressToShare.street"
               placeholder="{{'profile.street' | translate}}"
               [items]="streets"
               [loading]="streetsLoading"
               [selectOnTab]="true">
    </ng-select>
  </div>

  <!--HOUSE NUMBER-->
  <div class="md-form">
    <i class="fa fa-envelope prefix"></i>
    <input mdbInputDirective [(ngModel)]="addressToShare.houseNumber" type="text" id="edit_house-number"
           name="edit_house-number"
           class="form-control"
           minlength="1" maxlength="8"
           aria-required="true"
           required>
    <label for="edit_house-number">{{'profile.houseNumber' | translate}}</label>
  </div>

  <!--FLOOR-->
  <div class="md-form">
    <i class="fa fa-envelope prefix"></i>
    <input mdbInputDirective [(ngModel)]="addressToShare.floor" type="number" id="edit_floor"
           name="edit_floor"
           class="form-control" maxlength="8"
           aria-required="true"
           required>
    <label for="edit_floor">{{'profile.floor' | translate}}</label>
  </div>

  <!--DOOR-->
  <div class="md-form">
    <i class="fa fa-envelope prefix"></i>
    <input mdbInputDirective [(ngModel)]="addressToShare.door" type="number" id="edit_door"
           name="edit_door"
           class="form-control" maxlength="8"
           aria-required="true"
           required>
    <label for="edit_door">{{'profile.door' | translate}}</label>
  </div>

  <!--BELL-->
  <div class="md-form">
    <i class="fa fa-bell prefix"></i>
    <input mdbInputDirective [(ngModel)]="addressToShare.bell" type="number" id="edit_bell"
           name="edit_bell"
           class="form-control" pattern="[^[+]?\d+$]"
           aria-required="true"
           required>
    <label for="edit_bell">{{'profile.bell' | translate}}</label>
  </div>

  <div class="button-section-flex">
    <button type="button" class="btn btn-amber px-3 waves-light" (click)="closeEditAddressField()">{{'profile.cancel' |
      translate}}
    </button>
    <button *ngIf="isEditingAddress" type="button" class="btn btn-success px-3 waves-light" (click)="saveUserData()"
            aria-hidden="true">{{'profile.save' |
      translate}}
    </button>
  </div>

</div>
