<div class="flex-space-between title">
  <mdb-icon routerLink="/profile/previous-orders" icon="arrow-left" size="2x"></mdb-icon>
  <h2 class="s-center" translate="">{{'profile.personalInfo' | translate}}</h2>
  <mdb-icon routerLink="/profile/delivery-info" icon="arrow-right" size="2x"></mdb-icon>
</div>

<form class="form-signin">

  <!--FIRST NAME-->
  <div class="md-form">
    <i class="fa fa-envelope prefix"></i>
    <input mdbInputDirective [(ngModel)]="user.firstName" type="text" id="first-name"
           name="firstName"
           class="form-control"
           [attr.disabled]="!isEditable ? 'disabled' : null"
           required>
    <label for="first-name">{{'profile.firstName' | translate}}</label>
  </div>

  <!--LAST NAME-->
  <div class="md-form">
    <i class="fa fa-envelope prefix"></i>
    <input mdbInputDirective [(ngModel)]="user.lastName" type="text" id="last-name"
           name="lastName"
           class="form-control"
           [attr.disabled]="!isEditable ? 'disabled' : null"
           required>
    <label for="last-name">{{'profile.lastName' | translate}}</label>
  </div>

  <!--PHONE NUMBER-->
  <div class="md-form">
    <i class="fa fa-envelope prefix"></i>
    <input mdbInputDirective [(ngModel)]="user.phoneNumber" type="tel" id="phone-number"
           name="phoneNumber"
           class="form-control"
           pattern="[\+]\d{2}[\(]\d{2}[\)]\d{4}[\-]\d{4}"
           [attr.disabled]="!isEditable ? 'disabled' : null"
           required>
    <label for="phone-number">{{'profile.phoneNumber' | translate}}</label>
  </div>

  <button type="button" *ngIf="!isEditable"
          class="btn btn-outline-unique px-3 waves-light"
          (click)="editUser()"
          mdbTooltip="{{'tooltips.editPersonalData' | translate}}" placement="right"
          [attr.disabled]="isEditable ? 'disabled' : null">{{'profile.edit' | translate}}
  </button>
  <button type="button" *ngIf="isEditable"
          class="btn btn-outline-success px-3 waves-light"
          (click)="updateUser()"
          [attr.disabled]="!isEditable ? 'disabled' : null">{{'profile.save' | translate}}
  </button>

</form>

<div>
  <hr>
  <h6>actual e-mail: {{currentUser.email}}</h6>
  <div class="md-form">
  <input mdbInputDirective [(ngModel)]="newEmail" type="email" id="new-email"
         name="newEmail"
         class="form-control">
  <label for="new-email">{{'profile.addNewEmail' | translate}}</label>
  </div>
  <button type="button" class="btn btn-outline-info px-3 waves-light"
          mdbTooltip="{{'tooltips.updateEmail' | translate}}" placement="right"
          (click)="updateEmail()">update</button>
</div>
