<div *ngIf="!isLoading" class="menu-category-title">
  <i routerLink="/menu/fried-rice-and-noodles" class="fa fa-3x fa-angle-left profile-nav-arrow__left"></i>
  <h3 class="inline-block s-center" translate="">{{'menu-tab.mainDishesWithRice' | translate}}</h3>
  <i routerLink="/menu/desserts" class="fa fa-3x fa-angle-right profile-nav-arrow__right"></i>
</div>
<app-listing *ngIf="!isLoading" [variant]="variant" [data]="mainDishesWithRice"></app-listing>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
