<div class="row">
  <div class="col-sm-12 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h2 class="card-title text-center">{{'signup.signupTitle' | translate }}</h2>

        <form class="form-signin" [formGroup]="userForm" (ngSubmit)="signup()">

          <!--EMAIL-->
          <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <input mdbInputDirective type="email" id="email" class="form-control"
                   required autofocus
                   formControlName="email"
                   autocomplete="new-email">
            <label for="email">{{'signup.email' | translate}}</label>
          </div>

          <!--PASSWORD-->
          <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input mdbInputDirective type="password" id="inputPassword" class="form-control"
                   required
                   [(ngModel)]="password"
                   formControlName="password"
                   autocomplete="new-password">
            <label for="inputPassword">{{'signup.password' | translate}}</label>
          </div>

          <!--PASSWORD AGAIN-->
          <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input mdbInputDirective type="password" id="password-again" class="form-control"
                   required
                   [(ngModel)]="passwordAgain"
                   formControlName="password"
                   autocomplete="new-password">
            <label for="password-again">{{'signup.passwordAgain' | translate}}</label>
          </div>

          <!--SIGNUP BUTTON-->
          <button class="btn btn-lg btn-block text-uppercase" mdbBtn type="submit" color="success" outline="true" mdbWavesEffect>{{'signup.signupButton' | translate}}</button>
        </form>
      </div>
    </div>
  </div>
</div>
