<div class="row">
  <div class="col-sm-12 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h2 class="card-title text-center">{{'signup.signupTitle' | translate }}</h2>

        <form class="form-signin" [formGroup]="userForm" (ngSubmit)="signup()">

          <!--EMAIL-->
          <div class="form-label-group">
            <input type="email" id="email" class="form-control validate" placeholder="{{'signup.email' | translate}}"
                   required
                   autofocus
                   formControlName="email"
                   autocomplete="new-password">
          </div>
          <div *ngIf="formErrors.email" class="" data-error="wrong" data-success="right">
            <p>{{ formErrors.email }}</p>
          </div>

          <!--PASSWORD-->
          <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control validate"
                   [(ngModel)]="password"
                   placeholder="{{'signup.password' | translate}}"
                   required
                   formControlName="password" autocomplete="new-password">
          </div>
          <div *ngIf="formErrors.password" class="" data-error="wrong" data-success="right">
            <p>{{ formErrors.password }}</p>
          </div>

          <!--PASSWORD AGAIN-->
          <div class="form-label-group">
            <input type="password" id="password-again" class="form-control validate"
                   placeholder="{{'signup.passwordAgain' | translate}}"
                   [(ngModel)]="passwordAgain"
                   required
                   formControlName="password" autocomplete="new-password">
          </div>
          <div *ngIf="formErrors.password" class="helper-text red-text" data-error="wrong" data-success="right">
            {{ formErrors.password }}
          </div>

          <!--SIGNUP BUTTON-->
          <button class="btn btn-lg btn-primary btn-block text-uppercase ripple" type="submit">{{'signup.signupButton' | translate}}</button>
        </form>
      </div>
    </div>
  </div>
</div>
