<!--YOUR CART IS EMPTY-->
<div *ngIf="cartItems.length==0" class="text-center summary-cart-empty">
  <h2 class="title">{{'summary.yourCartIsEmpty' | translate}}</h2>
  <button class="btn btn-lg btn-linkedin" routerLink="/menu/appetizers">{{'cart.checkTheMeals' | translate}}</button>
</div>

<!--SUMMARY CONFIRMATION-->
<div *ngIf="cartItems.length!=0" class="summary-confirmation">

  <!--TITLE-->
  <h2 class="title text-center">{{'summary.confirmationOfOrder' | translate}}</h2>

  <!--CART-ITEMS-->
  <div *ngIf="cartItems" class="cart-items">
    <ul>
      <li class="list-unstyled" *ngFor="let cartItem of cartItems">{{cartItem.details.name}} - {{languageService.actualLanguage === 'en' ?
        cartItem.details.meatType.en : cartItem.details.meatType.hu}} -
        {{cartItem.details.price | currency:'HUF':'symbol-narrow':0}}
      </li>
    </ul>
    <hr>
    <p>{{'cart.orderedMeals' | translate}}: {{cartItemSummary() | currency:'HUF':'symbol-narrow':0}}</p>
    <p>{{'cart.shippingFee' | translate}}: {{shippingFee | currency:'HUF':'symbol-narrow':0}}</p>
    <hr>
    <p>{{'cart.summary' | translate}}: {{cartItemSummary()+shippingFee | currency:'HUF':'symbol-narrow':0}}</p>
  </div>

  <hr>

  <!--USER INFO-->
  <div class="user-info">

    <!--FIRST NAME-->
    <div class="md-form">
      <i class="fa fa-envelope prefix"></i>
      <input mdbInputDirective [(ngModel)]="tempFirstName" type="text" id="first-name"
             name="first-name"
             class="form-control"
             aria-required="true"
             required>
      <label for="first-name">{{'profile.firstName' | translate}}</label>
    </div>

    <!--LAST NAME-->
    <div class="md-form">
      <i class="fa fa-envelope prefix"></i>
      <input mdbInputDirective [(ngModel)]="tempLastName" type="text" id="last-name"
             name="last-name"
             class="form-control"
             aria-required="true"
             required>
      <label for="last-name">{{'profile.lastName' | translate}}</label>
    </div>

    <!--PHONE NUMBER-->
    <div class="md-form">
      <i class="fa fa-envelope prefix"></i>
      <input mdbInputDirective [(ngModel)]="tempPhoneNumber" type="tel" id="phone-number"
             name="phone-number"
             class="form-control"
             aria-required="true"
             required>
      <label for="phone-number">{{'profile.phoneNumber' | translate}}</label>
    </div>
  </div>

  <!--SELECT ADDRESS-->
  <div class="select-address">
    <div *ngIf="addresses" class="saved-address">
      <h5>{{'summary.selectShippingAddress' | translate}}:</h5>

      <p *ngFor="let address of addresses">
        <input type="radio" name="addresses" class="" id="{{address.street}}-{{address.houseNumber}}">
        <label class="" for="{{address.street}}-{{address.houseNumber}}" (click)="selectAddress(address)">
          {{address.city}} - {{address.street}} - {{address.houseNumber}} - {{address.floor}}. {{'profile.floor' |
          translate}} - {{address.door}}. {{'profile.door' | translate}} - {{address.bell}}. {{'profile.bell' |
          translate}}
        </label>
      </p>
    </div>
  </div>

  <!--NEW ADDRESS-->
  <div *ngIf="!addresses" class="new-address-container">

    <h5>{{'summary.noSavedAddress' | translate}}</h5>
    <h5 *ngIf="isNewAddress"><a class="clickable" (click)="addNewAddress()">{{'summary.addNewShippingAddress' | translate}}</a></h5>
    <div *ngIf="!isNewAddress" class="new-address">

      <!--COUNTRY-->
      <div class="md-form">
        <i class="fa fa-envelope prefix"></i>
        <input mdbInputDirective [(ngModel)]="shippingInfo.shippingAddress['country']" type="text" id="country"
               name="country"
               class="form-control"
               aria-required="true"
               required>
        <label for="country">{{'profile.country' | translate}}</label>
      </div>

      <!--COUNTY-->
      <div class="md-form">
        <i class="fa fa-envelope prefix"></i>
        <input mdbInputDirective [(ngModel)]="shippingInfo.shippingAddress['county']" type="text" id="county"
               name="county"
               class="form-control"
               aria-required="true"
               required>
        <label for="county">{{'profile.county' | translate}}</label>
      </div>

      <!--ZIP CODE-->
      <div class="md-form">
        <i class="fa fa-envelope prefix"></i>
        <input mdbInputDirective [(ngModel)]="shippingInfo.shippingAddress['zipCode']" type="number" id="zip-code"
               name="zip-code"
               class="form-control"
               aria-required="true"
               maxlength="4"
               minlength="4"
               required>
        <label for="zip-code">{{'profile.zipCode' | translate}}</label>
      </div>

      <!--CITY-->
      <!--TODO - SELECT-OPTION-->
      <div class="md-form">
        <i class="fa fa-envelope prefix"></i>
        <input mdbInputDirective [(ngModel)]="shippingInfo.shippingAddress.city" type="text" id="city"
               name="city"
               class="form-control"
               aria-required="true"
               required>
        <label for="city">{{'profile.city' | translate}}</label>
      </div>

      <!--STREET-->
      <!--TODO - AUTOCOMPLETE-->
      <div class="md-form">
        <i class="fa fa-envelope prefix"></i>
        <input mdbInputDirective [(ngModel)]="shippingInfo.shippingAddress.street" type="text" id="street"
               name="street"
               class="form-control"
               aria-required="true"
               required>
        <label for="street">{{'profile.street' | translate}}</label>
      </div>

      <!--HOUSE NUMBER-->
      <div class="md-form">
        <i class="fa fa-envelope prefix"></i>
        <input mdbInputDirective [(ngModel)]="shippingInfo.shippingAddress.houseNumber" type="text" id="house-number"
               name="house-number"
               class="form-control"
               minlength="1" maxlength="8"
               aria-required="true"
               required>
        <label for="house-number">{{'profile.houseNumber' | translate}}</label>
      </div>

      <!--FLOOR-->
      <div class="md-form">
        <i class="fa fa-envelope prefix"></i>
        <input mdbInputDirective [(ngModel)]="shippingInfo.shippingAddress.floor" type="number" id="floor"
               name="floor"
               class="form-control" maxlength="8"
               aria-required="true"
               required>
        <label for="floor">{{'profile.floor' | translate}}</label>
      </div>

      <!--DOOR-->
      <div class="md-form">
        <i class="fa fa-envelope prefix"></i>
        <input mdbInputDirective [(ngModel)]="shippingInfo.shippingAddress.door" type="number" id="door"
               name="door"
               class="form-control" maxlength="8"
               aria-required="true"
               required>
        <label for="door">{{'profile.door' | translate}}</label>
      </div>

      <!--BELL-->
      <div class="md-form">
        <i class="fa fa-bell prefix"></i>
        <input mdbInputDirective [(ngModel)]="shippingInfo.shippingAddress.bell" type="number" id="bell"
               name="bell"
               class="form-control" pattern="[^[+]?\d+$]"
               aria-required="true"
               required>
        <label for="bell">{{'profile.bell' | translate}}</label>
      </div>

    </div>
  </div>

  <!--NOTES-->
  <div class="notes">
    <div class="notes-for-order">
      <div class="md-form">
        <i class="fa fa-pencil prefix"></i>
        <textarea type="text" id="note-for-meal"
                  class="md-textarea md-textarea-auto form-control"
                  [(ngModel)]="shippingInfo.noteForMeal"
                  data-length="200" mdbInputDirective></textarea>
        <label for="note-for-meal">{{'summary.noteForOrder' | translate}}</label>
      </div>
    </div>
    <div class="notes-for-address">
      <div class="md-form">
        <i class="fa fa-pencil prefix"></i>
        <textarea type="text" id="note-for-shipping"
                  class="md-textarea md-textarea-auto form-control"
                  [(ngModel)]="shippingInfo.noteForShipping"
                  data-length="200" mdbInputDirective></textarea>
        <label for="note-for-shipping">{{'summary.noteForShipping' | translate}}</label>
      </div>
    </div>
  </div>

  <!--TEST BUTTON-->
  <button class="btn btn-lg btn-info" (click)="test()">GOMB</button>

  <!--PAYMENT-->
  <div class="payment">
    <h5>{{'summary.paymentBy' | translate}}</h5>
    <p>
      <input type="radio" name="paymentOptions" class="" id="cash" [(ngModel)]="shippingInfo.paymentOption"
             [value]='paymentOptions[0].option'>
      <label for="cash">{{'summary.cash' | translate}}</label>
    </p>
  </div>

  <hr>

  <!--ÁSZF-->
  <div>
      <mdb-checkbox [default]="true" [(ngModel)]="isCheckedASZF">{{'summary.iHaveRead' | translate}} <a href="#" routerLink="/aboutus">minden szart</a></mdb-checkbox>
  </div>

  <!--BUTTON SECTION-->
  <div class="button-section-flex">
    <button class="btn btn-outline-warning" routerLink="/cart">{{'summary.backToChangeCart' | translate}}</button>
    <button class="btn"
            [ngClass]="{'btn-outline-success': isCheckedASZF }"
            (click)="finishOrderProcess(); frame.show()"
            [disabled]="!isCheckedASZF && !isSelectedAddress">{{'summary.order' | translate}}
    </button>
  </div>
</div>

<!--MODAL -->
<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" (onHidden)="onHidden($event)">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">{{'summary.successOrder' | translate}}</p>
      </div>
      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
          <h3>{{'summary.successOrder' | translate}}</h3>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <button type="button" mdbBtn class="btn btn-outline-success waves-effect" mdbWavesEffect (click)="frame.hide()" data-dismiss="modal">{{'summary.backToTheHomePage' | translate}}</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
