<!--<div class="carousel" materialize="carousel">-->
  <!--<a class="carousel-item"-->
     <!--routerLink="/menu/appetizers"-->
     <!--role="tab">{{'menu-tab.appetizers' | translate}}</a>-->
  <!--<a class="carousel-item"-->
     <!--routerLink="/menu/soups"-->
     <!--role="tab">{{'menu-tab.soups' | translate}}</a>-->
  <!--<a class="carousel-item" routerLink="/menu/fried-rice-and-noodles"-->
     <!--role="tab">{{'menu-tab.friedRiceAndNoodles' | translate}}</a>-->
  <!--<a class="carousel-item" routerLink="/menu/main-dishes-with-rice"-->
     <!--role="tab" >{{'menu-tab.mainDishesWithRice' | translate}}</a>-->
  <!--<a class="carousel-item" routerLink="/menu/desserts" role="tab"-->
     <!--&gt;{{'menu-tab.desserts' | translate}}</a>-->
<!--</div>-->
